.container {
  max-width: 1380px;
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.all {
  color: #fff;
  width: 120px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav {
  width: 173px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #fff;
}
