.cat-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, 225px);
  gap: 48px;
  margin-top: 51px;
}

.grid-item {
  position: relative;
  transition: 0.5s;
}

.grid-item:hover {
  transform: scale(105%);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.251);
}

.img {
  display: block;
  width: 225px;
  height: 225px;
  object-fit: cover;
}

.btn,
.licked {
  width: 40px;
  height: 35px;
  border: none;
  background-color: transparent;
  background-image: url("../../public/Vector.svg");
  position: absolute;
  bottom: 20px;
  right: 14px;
  cursor: pointer;
}

.licked {
  background-image: url("../../public/Liked.svg");
}

.loader {
  margin-top: 48px;
  margin-bottom: 31px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
}
